In [2]:
print("Patten 1 ")
for i in range(2,7):
    
    for j in range(1,i):
        print(j,end=(''))
    print("\n")

Patten 1
1

12

123

1234

12345

In [6]:
print("pattern 2")
for i in range(1,6):
    for j in range(0,i):
        print(i,end=(''))
    print("\n")

pattern 2
1

22

333

4444

55555

In [13]:
print("pattern 3")
for i in range(2,6):
    for j in range(1,i):
        print(j,end=(''))
    print('\n')
    
for k in range(6,1,-1):
    for l in range(1,k):
        print(l,end=(''))
    print('\n')

pattern 3
1

12

123

1234

12345

1234

123

12

1

In [15]:
print("pattern 4")
for i in range(6,2,-1):
    for j in range(1,i):
        print(j,end=(''))
    print('\n')

for k in range(2,7):
    for l in range(1,k):
        print(l,end=(''))
    print("\n")

pattern 4
12345

1234

123

12

1

12

123

1234

12345

In [21]:
print("pattern 5")
for i in range(5,1,-1):
    for j in range(i,0,-1):
        print(j,end=(''))
    print('\n')

for k in range(1,6):
    for l in range(k,0,-1):
        print(l,end=(''))
    print('\n')

pattern 5
54321

4321

321

21

1

21

321

4321

54321

In [33]:
print("pattern 6")
 
k = 10
for i in range(1, 6): 
    for j in range(0, k): 
        print(end=" ")
    k = k -1
    for l in range(1, i+1): 
        print(l,"", end="") 
    print('\n')

pattern 6
          1

         1 2

        1 2 3

       1 2 3 4

      1 2 3 4 5

In [32]:
print("pattern 7")
for i in range(0,5):
    for j in range(5,i,-1):
        print(j,end=(''))
    print('\n')

pattern 7
54321

5432

543

54

5

In [27]:
print("Pattern 8")

for i in range(4,-1,-1):
    for j in range(5,i,-1):
        print(j,end=(''))
    print('\n')

Pattern 8
5

54

543

5432

54321

In [53]:
print("Pattern 9")

for i in range(6,1,-1):
    for j in range(1,i):
        print(j,end=(''))
    print('\n')

Pattern 9
12345

1234

123

12

1

In [28]:
print("Pattern 10")

k = 1
for i in range(2,7):
    for j in range(1,i):
        print(k,end=" ")
        k = k+1
    print("\n")

Pattern 10
1

2 3

4 5 6

7 8 9 10

11 12 13 14 15

In [1]:
print("Pattern 11")

for k in range(1,6):
    for l in range(k,0,-1):
        print(l,end=(''))
    print('\n')

Pattern 11
1

21

321

4321

54321

In [47]:
print("pattern 12")

pattern 12

In [13]:
print("pattern 13")
for i in range(1, 6):  
        C = 1; # used to represent C(line, i)  
        for j in range(1, i+1):  
              
            # The first value in a  
            # line is always 1  
            print(C, end = " ");  
            C = int(C * (i - j) / j);  
        print("");

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

In [46]:
print("pattern 14")
for i in range(1,6):
  
    for j in range(1,i):
        print(j,end=(''))
    
    
    for l in range(i,0,-1):
        print(l,end=(''))
    print('\n')

pattern 14
1

121

12321

1234321

123454321

In [42]:
print("pattern 15")
k = 0
for i in range(5, 0,-1): 
    for j in range(0, k+2): 
        print(end=" ")
    k = k +1
    for l in range(1, i+1): 
        print(l,"", end="") 
    print('\n')

pattern 15
  1 2 3 4 5

   1 2 3 4

    1 2 3

     1 2

      1

In [37]:
print("pattern 16") 
k = 10
for i in range(1, 6): 
    for j in range(0, k): 
        print(end=" ")
    k = k -1
    for l in range(1, i+1): 
        print(l,"", end="") 
    print('\n')

for i in range(4, 0,-1): 
    for j in range(0, k+2): 
        print(end=" ")
    k = k +1
    for l in range(1, i+1): 
        print(l,"", end="") 
    print('\n')

          1

         1 2

        1 2 3

       1 2 3 4

      1 2 3 4 5

       1 2 3 4

        1 2 3

         1 2

          1